.form-group {
  input {
    font-family: $text;
    font-size: 25px;
    margin: 5px;
  }
}

.main-button {
  padding: 10px;
  margin: 12px;
  height: 50px;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20%;
  background-color: $bold;
  color: $highlight;
  border: none;

  &:hover {
    background-color: $highlight;
    color: $bold;
  }
}

.subhead {
  text-align: center;
}
