* {
  max-width: 1000px;
  margin: 0 auto;
}

.us {
  display: inline-flex;
  font-family: $text;
  font-size: 16px;
  color: $additional;


  .intro {
    max-width: 50%;
    padding: 15px 3px;

    p {
      padding: 10px 0px;
      max-width: 400px;
    }
  }
}

.celebrations {
  h4 {
    font-family: $header;
    text-align: center;
    font-size: 40px;
  }

  p {
    font-size: 16px;
    padding: 30px 10px;
  }
}

.details {
  text-align: center;

  h2 {
    margin: 40px 0;
  }

  h3 {
    color: $basic;
  }

}

.click {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0px;

  .hibiscus {
    // background-image: url("./assets/images/flower.png");
    background-color: hotpink;
    height: 170px;
    width: 170px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 16px;

  }
}
