* {
  max-width: 1000px;
  margin: 0 auto;
}

.us {
  display: inline-flex;
  font-family: $text;
  font-size: 16px;
  color: $additional;


  .carousel {
    margin: 16px;
    background-color: pink;
    max-width: 550px;
    max-height: 550px;
    
    .slide {
      width: 500px;
      margin: 0 200px;

      .carousel-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 50%;
        width: 745px;

        .carousel-images {
          align-items: left;
        }
      }
      .carousel-control {
        display: none;
      }
    }
  }

  .intro {
    max-width: 50%;
    padding: 15px 3px;

    p {
      padding: 10px 0px;
      max-width: 400px;
    }
  }
}

.celebrations {
  h4 {
    font-family: $header;
    text-align: center;
    font-size: 40px;
  }

  p {
    font-size: 16px;
    padding: 30px 10px;
  }
}