.navs {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // width: 1000px;


  .navbar, .footer {
    font-family: $header;
    background-image: url("https://images.unsplash.com/photo-1483919114236-01e86550c193?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6be7f345022d0f7f1add3026154987fb&auto=format&fit=crop&w=1950&q=80");
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    button {
      font-family: $header;
      font-size: 35px;
      color: $additional;
      background-color: $basic;
      border: $basic solid 1px;

      a {
        color: $additional;
        text-decoration: none;
        // border-radius: 20%;
      }
    }
  }
}

.navbar {
  button {
    background: $basic;
    color: $additional;
    border-radius: 20%;
    padding: 7px;
  }
}

h6 {
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 10px;
  color: $additional;
}
