.navs {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // width: 1000px;


  .navbar, .footer {
    text-align: center;
    font-family: $header;
    background-image: url("https://images.unsplash.com/photo-1504489324524-16913d6e7975?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7ae29f72ba7790d85d292da8da4124b9&auto=format&fit=crop&w=1950&q=80");
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: cover;

    button {
      font-family: $header;
      font-size: 35px;
      color: $additional;
      background-color: transparent;
      border: none;
      margin: 20px;

      a {
        color: $additional;
        text-decoration: none;
        // border-radius: 20%;
      }
    }
  }
}

.navbar {
  button {
    background: none;
    color: $additional;
    border-radius: 20%;
    padding: 7px;
  }
}

h6 {
  font-size: 18px;
  display: block;
  width: 100%;
  margin: 10px;
  color: $additional;
}
