@import "variables";
@import "navbar";
@import "forms";
@import "landing";
@import "weddings";
@import "buttons";
@import "thanks";
@import "media";

* {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  text-align: justify;
}

h1, h2, h4 {
  text-align: center;
  font-family: $header;
}

h2 {
  font-size: 75px;
}

p {
  font-family: $text;
}

a {
  color: $bold;
  text-decoration: none;

  &:hover {
    color: $highlight;
    text-decoration: none;
  }
}
