// RSVP Google Page

.guestlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro {
  h3 {
    font-size: 16px;
    font-weight: normal;
  }

  h4 {
    font-size: 35px;
    margin: 20px;
    font-weight: bold;
    text-decoration: underline;
  }
}

.nikah {
  margin: 30px;
  padding: 30px;


  h3 {
    font-weight: bold;
  }
}

.drive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // margin: 0 auto;

  .hotels, .park, .address {
    height: 200px;
    width:400px;
    text-align: left;
    padding: 200px;
  }

  .hotels {
    width: 250px;
  }

  .address {
    width: 150px;
    padding-top: 50px;
  }

  ul {
  justify-content: space-between;

  .hotels, .park, .address {
    width: 250px;
    height: 250px;
  }

  ul {
    li {
      padding: 2px;
    }
  }
}

  .celebrations {
    margin: 50px;
  }
}

span {
  color: $basic;
}

.hotels span, .address span {
  text-decoration: underline;
  font-weight: bold;
}
